.completeChallengesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1rem 0 5rem;

  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;

  border-bottom: 1px solid #d7d8da;

  font-weight: 500;
  background-color: #d7d8da;
}

.completedChalengesContainer svg {
  margin-right: 1rem;
}

.completeChallengesContainer span:first-child {
  font-size: 1.1rem;
}

.completeChallengesContainer span:last-child {
  font-size: 1.3rem;
}
